
  h2 {
    text-align: center;
    padding: 25px;
    color: white;
  }
  .block1 {
    height: 150px;
    background-color: #42a8c8;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block2 {
    height: 150px;
    background-color: #5bbfb4;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block3 {
    height: 350px;
    background-color: #5bbfb4;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block4 {
    height: 110px;
    background-color: #42a8c8;
    margin-top: 10px;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block5 {
    height: 110px;
    background-color: #5bbfb4;
    margin-top: 10px;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block6 {
    height: 470px;
    background-color: #42a8c8;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block7 {
    height: 150px;
    background-color: #5bbfb4;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block8 {
    height: 150px;
    background-color: #42a8c8;
    margin-top: 10px;
    border: 5px solid white;
    border-radius: 25px;
  }
  .block9 {
    height: 150px;
    background-color: #5bbfb4;
    margin-top: 10px;
    border: 5px solid white;
    border-radius: 25px;
  }